
.title {
    border: 25px;
    padding: 25px 25px 25px 35px  ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  
  @media screen and (min-width: 1024px) {
   
    .navbar-burger {
         display: block !important;
         position: fixed;
         right: 20px;
         display: flex;
         flex-wrap: wrap;
    
    }
  }
  
  