
:root{
    --light:#F5f5f5;
    --dark:#343434;
    --bulma: #9d55a5;
    --vegeta:#03D1B2;
    --piccolo:#63c05e;
    --pad: 10px 10px 10px 10px;
}
.navbar-burger



.title {
    border: 25px;
    padding: var(--pad);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.button{
    color: #ffffff;
}

button:hover {
    background-color: var(--piccolo);
    color: var(--bulma);
  }
  

  button:active {
    box-shadow:10px 5px 5px   var(--bulma);
  }

#openModal {
    border: 50px;
    padding: var(--pad);
    margin: var(--pad);
    flex-wrap: auto;
    justify-content: space-between;
}  

#openModal :hover {
    background-color: var(--vegeta);
}

h1 {
    font-size: larger;
}


.weather-card {
  margin: 0 0 20px 0;
  border: 3px solid #000000;
  border-radius: 5%;
  background-color: var (--dark);
  color: var (--light);
  display: flex;
  justify-content:space-evenly;

}

.weather-card:hover{
    background-color: var(--vegeta);
}

.hidden {
    display: none;
}

.is-active {
    display: block;
}

#myModal {
    padding: 10px 50px 10px 50px;
    text-align: center;
}
.modal-card-title {
    font-weight: bold;
}

.modalText {
    padding: 2%;
}

#weHadFun {
    font-weight: bolder;
    padding-top: 3%;
}

#welcomeToVibesCast {
    font-style: italic;
}

